:root{
    --main-gold:#B98B59;
    --text-color:#b9b9b9;
    --container-width:1100px;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: rgb(95, 95, 95);
}

header{
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: black;
}

.container{
    height: inherit;
    width: var(--container-width);
}

.row{
    display: flex;
    flex-direction: row;
}

.logo{
    height: 100%;
    width: 200px;
    text-align: start;
    line-height: 100px;
}

.logo a{
    color: var(--main-gold);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 50px;
    font-weight: 500;
}

nav{
    flex: 1;
    display: flex;
}

nav ol{
    flex: 1;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav li{
    height: 100%;
}

nav li a:hover{
    border-bottom: 4px solid var(--main-gold);
    color: white;
}

nav a{
    display: block;
    color: var(--text-color);
    text-transform: uppercase;
    text-decoration: none;
    height: 100%;
    line-height: 100px;
    font-size: 17px;
    font-weight: 600;
}

main{
    background-image: url(/complementos/bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.cover{
    position: absolute;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    height: inherit;
}

.bg_main_text{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg_main_text span:nth-child(1){
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 60px;
    text-shadow: 2px 2px 2px black;
}

.bg_main_text span:nth-child(2){
    color: var(--main-gold);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 60px;
    text-shadow: 2px 2px 2px black;
}

.bg_main_text span:nth-child(3){
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    text-shadow: 2px 2px 2px black;
    font-size: 25px;
}

.bg_main_text div{
    margin-top: 30px;
}

.buttom a{
    display: block;
    padding: 15px 35px;
    border-radius: 30px;
    background-color: var(--main-gold);
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.buttom a:hover{
    color: black;
}

.slide{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 20px;
}

.slide_circle{
    width: 20px;
    height: 20px;
    border: solid 2px var(--main-gold);
    border-radius: 10px;
    margin: 7px;
}

.slide_circle:hover{
    background-color: var(--main-gold);
}

.aboutUs_services{
    background-color: red;
    height: 100vh;
}

.about_us{
    height: calc(100vh - 40vh);
    background-color: red;
}

.services{
    height: calc(100vh - 60vh);
    background-color: green;
}

.aboutUs_header{
    padding-top: 40px;
}

.aboutUs_header span{
    display: block;
    text-align: center;
    text-transform: uppercase;

}

.aboutUs_header span:nth-child(1){
    color: black;
    font-size: 30px;
}


.aboutUs_text_video{

}